@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap&text=1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz%20%21%22%23%24%25%26%27');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4 {
    @apply font-bold;
  }
}

h2{
	@apply text-xl;
}
h3{
	@apply text-lg;
}
a{
	@apply text-blue-400;
}

.post p{
	margin-top: 0;
    margin-bottom: 16px;
}
.post h2{
	margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;

	padding-bottom: 0.3em;
    font-size: 1.5em;
}
.post h3{
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    font-size: 1.25em;
}
.post h4{
	margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    font-size: 1em;
}
.post h5{
	margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}
.post table{
	display: block;
    width: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    overflow: auto;
	border-spacing: 0;
    border-collapse: collapse;
	margin-top: 0;
    margin-bottom: 16px;
	text-indent: initial;
}
.post thead{
	display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
	@apply text-blue-400;
}
.post table tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.post table th{
	border: 1px solid rgb(229 231 235);
	padding: 6px 13px;
	font-weight: 600;
	display: table-cell;
    vertical-align: inherit;
    text-align: -internal-center;
}
.post tbody{
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.post table td{
	border: 1px solid rgb(229 231 235);
	padding: 6px 13px;
	display: table-cell;
    vertical-align: inherit;
    text-align: -internal-center;
}
.post ul{
	padding-left: 2em;
	margin-top: 0;
	margin-bottom: 16px;
	@apply list-disc;
}
.post li{
	display: list-item;
    text-align: -webkit-match-parent;
	margin-top: 0.25em;
}


code{
	background: #222;
	color: #d9d9d9;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	/* margin: 0.5em; */
	text-align: justify;
	@apply rounded-xl shadow-xl border-08dp border-2;
}
pre code.hljs {
	display: block;
	overflow-x: auto;
	padding: 1em;
	margin-bottom: 1em;
	@apply rounded-xl shadow-xl border-08dp border-2;
}

pre code.hljs::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

pre code.hljs::-webkit-scrollbar-track {
	background: transparent; /* color of the tracking area */
}

pre code.hljs::-webkit-scrollbar-thumb {
	background-color: cornflowerblue; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 3px solid #1d1d1d; /* creates padding around scroll thumb */
}

code.hljs {
	padding: 3px 5px;
}
.hljs {
	background: #222;
	color: #aaa;
}
.hljs-subst {
	color: #aaa;
}
.hljs-section {
	color: #fff;
}
.hljs-comment,
.hljs-meta,
.hljs-quote {
	color: #444;
}
.hljs-bullet,
.hljs-regexp,
.hljs-string,
.hljs-symbol {
	color: #fc3;
}
.hljs-addition,
.hljs-number {
	color: #0c6;
}
.hljs-attribute,
.hljs-built_in,
.hljs-link,
.hljs-literal,
.hljs-template-variable,
.hljs-type {
	color: #32aaee;
}
.hljs-keyword,
.hljs-name,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-tag {
	color: #64a;
}
.hljs-deletion,
.hljs-template-tag,
.hljs-title,
.hljs-variable {
	color: #b16;
}
.hljs-doctag,
.hljs-section,
.hljs-strong {
	font-weight: 700;
}
.hljs-emphasis {
	font-style: italic;
}
