@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4 {
    @apply font-bold;
  }
}

h2{
	@apply text-xl;
}
h3{
	@apply text-lg;
}
/* h4{ */
/* 	@apply text-lg; */
/* } */
a{
	@apply text-blue-400;
}




code{
	background: #222;
	color: #d9d9d9;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	margin: 0.5em;
	text-align: justify;
	@apply rounded-xl shadow-xl border-08dp border-2;
}
pre code.hljs {
	display: block;
	overflow-x: auto;
	padding: 1em;
	@apply rounded-xl shadow-xl border-08dp border-2;
}
code.hljs {
	padding: 3px 5px;
}
ul {
	@apply list-disc pl-5;
}
.hljs {
	background: #222;
	color: #aaa;
}
.hljs-subst {
	color: #aaa;
}
.hljs-section {
	color: #fff;
}
.hljs-comment,
.hljs-meta,
.hljs-quote {
	color: #444;
}
.hljs-bullet,
.hljs-regexp,
.hljs-string,
.hljs-symbol {
	color: #fc3;
}
.hljs-addition,
.hljs-number {
	color: #0c6;
}
.hljs-attribute,
.hljs-built_in,
.hljs-link,
.hljs-literal,
.hljs-template-variable,
.hljs-type {
	color: #32aaee;
}
.hljs-keyword,
.hljs-name,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-tag {
	color: #64a;
}
.hljs-deletion,
.hljs-template-tag,
.hljs-title,
.hljs-variable {
	color: #b16;
}
.hljs-doctag,
.hljs-section,
.hljs-strong {
	font-weight: 700;
}
.hljs-emphasis {
	font-style: italic;
}
